.leaflet-container {
  height: 100dvh;
  width: 100dvw;
}

/*NavLink active color*/
a.active {
  color: #4CAF50;
}

html, body{
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

.ui {
  z-index: 1001;
}

.leaflet-control-container { position: absolute; left: 5px; bottom: 150px; padding: 10px;} 

.leaflet-control-container {
  display: none;
}

@media (min-width: 500px) {
  body {
    .leaflet-control-container {
      display: inline;
    }
  }
}

.leaflet-control-attribution { display: none; }


