@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


@import "tailwindcss";

@theme {
  /*--color-*: initial; /*força o dev a usar apenas as cores definidas a seguir, e não as padrão do tailwind*/

  --font-inter: Inter, "sans-serif";
  --font-plus-jakarta-sans: 'Plus Jakarta Sans', "sans-serif";
  --color-danger: #F05D6C;
  --color-gray01: #F6F6F6;
  --color-gray02: #4F4F4F;
  --color-gray03: #828282;
  --color-gray04: #666666;
  --color-gray05: #E0E0E0;
  --color-gray06: #F2F2F2;
  --color-gray07: #F9F9F9;

  --color-green-primary: #5DB075;
  --color-green-secondary: #4B9460;
  --color-white: #FFFFFF;

  --color-purple01: #9B51E0;
  --color-purple02: #BB6BD9;

  --radius-xl: 0.625rem;/* 10px (0.625 * 16). Subescreve o radius-xl do tailwind*/
}